<div class="row main-block">
                        <div class="col-sm-12 col-md-12">
                            <!-- MAIN CONTENT AREA: REDESIGN CUSTOM - HERO LIST -->
                            <div class="row show-grid hero-list features-list">
                                <div class="col-sm-3 col-md-3">
                                    <div class="image-wrapper">
                                        <div class="img">
                                            <i class="fa fa-exclamation-triangle fa-3x fa-inverse"></i>
                                        </div>
                                    </div>
                                    <h2>Clean Design</h2>
                                    <p>Modern, clean design to give your business a highly professional appearance.
                                        <a href="#">Learn more&nbsp;&raquo;</a>
                                    </p>
                                </div>
                                <div class="col-sm-3 col-md-3">
                                    <div class="image-wrapper">
                                        <div class="img">
                                            <i class="fa fa-exclamation-triangle fa-3x fa-inverse"></i>
                                        </div>
                                    </div>
                                    <h2>Flexible Layout</h2>
                                    <p>Flexible page layout templates to help you quickly organize your website's content.
                                        <a href="#">Learn more&nbsp;&raquo;</a>
                                    </p>
                                </div>
                                <div class="col-sm-3 col-md-3">
                                    <div class="image-wrapper">
                                        <div class="img">
                                            <i class="fa fa-exclamation-triangle fa-3x fa-inverse"></i>
                                        </div>
                                    </div>
                                    <h2>Quick Shortcuts</h2>
                                    <p>Dozens of unique shortcuts to add your own cool and custom flare and personal style.
                                        <a href="#">Learn more&nbsp;&raquo;</a>
                                    </p>
                                </div>
                                <div class="col-sm-3 col-md-3">
                                    <div class="image-wrapper">
                                        <div class="img">
                                            <i class="fa fa-exclamation-triangle fa-3x fa-inverse"></i>
                                        </div>
                                    </div>
                                    <h2>Responsive Action</h2>
                                    <p>Ultra-responsive action so your pages work beautifully on practically any device.
                                        <a href="#">Learn more&nbsp;&raquo;</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>