%h1 COMMERCIAL PLUMBING
/ .row.show-grid
/   .col-md-12.col-sm-12
/     .row.show-grid.clear-both
/       / BEGIN LEFT-SIDEBAR
/       #left-sidebar.col-md-3.col-sm-3.sidebar
/         / LEFT-SIDEBAR: SIDEBAR NAVIGATION
/         .side-nav.sidebar-block
/           %h2 Why ResTech?
/           %ul
/             %li
/               = fa_icon "check"
/               Complete Plumbing & Drain Services
/             %li
/               = fa_icon "check"
/               Available 24 Hours / 7 Days a Week
/             %li
/               = fa_icon "check"
/               Emergency Service
/             %li
/               = fa_icon "check"
/               Licensed & Insured Technicians
/             %li
/               = fa_icon "check"
/               Millions of Satisfied Customers
/             %li
/               = fa_icon "check"
/               State-of-the-Art Equipment
/             %li
/               = fa_icon "check"
/               Reputation for Quality Work
/             %li
/               = fa_icon "check"
/               No Job is Too Big or Too Small
/             %li
/               = fa_icon "check"
/               Trusted & Recommended Since 1935
/       / END LEFT-SIDEBAR
/       / BEGIN ARTICLE CONTENT AREA
/       .col-md-6.col-sm-6.main-column.three-columns-central
/         %article
/           %h1 COMMERCIAL PLUMBING
/           %p
/             When your business requires the services of a good, reliable commercial plumber, look no further than Roto-Rooter. Our skilled commercial plumbers can handle all of your commercial plumbing problems from dripping faucets to water main & sewer line repair and replacement.
/             Roto-Rooter provides full-service commercial plumbing and drain cleaning services to large and small businesses. Scheduling service is a snap with a phone call or our easy online scheduling system.
/             = image_tag "istock/commercial-plumbing.jpg", alt: "Commercial Plumbing System", class: "img-fullwidth thumbnail"
/           %p
/             No other commercial plumbing and drain service company is trusted or recommended more than Roto-Rooter for scheduled or emergency service.
/             *All services may not be available from all locations

/       / END ARTICLE CONTENT AREA
/       / BEGIN RIGHT-SIDEBAR
/       #right-sidebar.col-md-3.col-sm-3.sidebar
/         / RIGHT-SIDEBAR: TEXT WIDGET AREA
/         .text-widget.sidebar-block
/           %h2 Text Widget
/           %p
/             Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Donec ullamcorper nulla non metus auctor fringilla. Donec id elit non mi porta gravi
/         / RIGHT-SIDEBAR: TAGS WIDGET AREA
/         / .tags-widget.sidebar-block
/         /   %h2 Tags
/         /   %ul
/         /     %li
/         /       %p
/         /         %i.icon-tags
/         /         %a{:href => "#"} blog
/         /     %li
/         /       %p
/         /         %i.icon-tags
/         /         %a{:href => "#"} photo
/         /     %li
/         /       %p
/         /         %i.icon-tags
/         /         %a{:href => "#"} news
/         /     %li
/         /       %p
/         /         %i.icon-tags
/         /         %a{:href => "#"} business
/         /     %li
/         /       %p
/         /         %i.icon-tags
/         /         %a{:href => "#"} commercial
/         /     %li
/         /       %p
/         /         %i.icon-tags
/         /         %a{:href => "#"} design
/         / / RIGHT-SIDEBAR: GALLERY WIDGET AREA
/         / .gallery-widget.sidebar-block
/         /   %h2 Gallery Widget
/         /   %ul
/         /     %li
/         /       %a.photo{:href => "#"}
/         /         %img{:alt => "", :src => "img/blog-widget01.jpg"}/
/         /     %li
/         /       %a.photo{:href => "#"}
/         /         %img{:alt => "", :src => "img/blog-widget02.jpg"}/
/         /     %li
/         /       %a.photo{:href => "#"}
/         /         %img{:alt => "", :src => "img/blog-widget03.jpg"}/
/         /     %li
/         /       %a.photo{:href => "#"}
/         /         %img{:alt => "", :src => "img/blog-widget04.jpg"}/
/         /     %li
/         /       %a.photo{:href => "#"}
/         /         %img{:alt => "", :src => "img/blog-widget05.jpg"}/
/         /     %li
/         /       %a.photo{:href => "#"}
/         /         %img{:alt => "", :src => "img/blog-widget06.jpg"}/
/       / END RIGHT-SIDEBAR
