/%h1 HomePages#contact
/%p Find me in app/views/home_pages/contact.html.haml
%h1 CONTACT
%p 24/7 Emergency Service
%p.head_phone
= link_to "(951) 737-5800", "tel:951-737-5800"
%p For all customer service questions and inquiries contact: restechpd@yahoo.com
%p Leave us a review on Yelp or YP