.container
  .row
    / MAIN CONTENT AREA: SLIDER BANNER (REVOLUTION SLIDER)
    .col-sm-12.col-md-12
      .bannercontainer
        .banner
          %ul
            /
              MAIN CONTENT AREA: SLIDER BANNER (REVOLUTION SLIDER) - SLIDE 1 [SLIDE
              STYLE=BOXFADE]
            %li.slide1.slide{"data-masterspeed" => "300", "data-slotamount" => "5", "data-transition" => "boxfade"}
              %img.img-responsive{:alt => "", :src => "img/slider01.png"}
              .caption.sft.carousel-caption{"data-easing" => "easeInBack", "data-speed" => "1000", "data-start" => "1000", "data-x" => "110", "data-y" => "110", :style => "background: none;"}
                %p.middle Beautiful, clean, ultra-responsive &amp; highly flexible
              .caption.sfl.carousel-caption{"data-easing" => "easeOutBack", "data-speed" => "1000", "data-start" => "1000", "data-x" => "98", "data-y" => "141", :style => "background: none;"}
                %p.big An Incredible New
              .caption.sfl.carousel-caption{"data-easing" => "easeOutBack", "data-speed" => "1000", "data-start" => "1000", "data-x" => "98", "data-y" => "191", :style => "background: none;"}
                %p.big HTML5 Template!
              .caption.sfb.carousel-caption{"data-easing" => "easeInBack", "data-speed" => "1000", "data-start" => "1000", "data-x" => "111", "data-y" => "247", :style => "background: none; width: 436px;"}
                %p.small
                  Bring your website into the 21st century with bizstrap. Beautiful, clean,
                  ultra-responsive and highly flexible bizstrap puts you firmly in control
                  of your new site build or site bizstrap.
            /
              MAIN CONTENT AREA: SLIDER BANNER (REVOLUTION SLIDER) - SLIDE 2 [SLIDE
              STYLE=LEFT]
            %li.slide2.slide{"data-masterspeed" => "300", "data-slotamount" => "10", "data-transition" => "slideleft"}
              %img.img-responsive{:alt => "", :src => "img/slider02.png"}
              .caption.sft.carousel-caption{"data-easing" => "easeInBack", "data-speed" => "1000", "data-start" => "1000", "data-x" => "472", "data-y" => "69", :style => "background: none;"}
                %p.middle Is your business website mobile ready?
              .caption.sfr.carousel-caption{"data-easing" => "easeOutBack", "data-speed" => "1000", "data-start" => "1000", "data-x" => "462", "data-y" => "107", :style => "background: none;"}
                %p.big 20% of all web
              .caption.sfl.carousel-caption{"data-easing" => "easeOutBack", "data-speed" => "1000", "data-start" => "1000", "data-x" => "462", "data-y" => "156", :style => "background: none;"}
                %p.big traffic today is from
              .caption.sfl.carousel-caption{"data-easing" => "easeOutBack", "data-speed" => "1000", "data-start" => "1000", "data-x" => "462", "data-y" => "205", :style => "background: none;"}
                %p.big mobile devices
              .caption.sfb.carousel-caption{"data-easing" => "easeInBack", "data-speed" => "1000", "data-start" => "1000", "data-x" => "474", "data-y" => "262", :style => "background: none; width: 436px;"}
                %p.small
                  The mobile revolution is here. Is your business ready for it? Built using
                  the latest web technology platform and framework; HTML5, CSS3 and Twitter
                  Bootstrap, bizstrap allows you to create one site that renders beautifully
                  on all devices, including computers, tablet and phones.
            /
              MAIN CONTENT AREA: SLIDER BANNER (REVOLUTION SLIDER) - SLIDE 3 [SLIDE
              STYLE=SLIDE DOWN]
            %li.slide3.slide{"data-masterspeed" => "300", "data-slotamount" => "1", "data-transition" => "slidedown"}
              %img.img-responsive{:alt => "", :src => "img/slider03.png"}
              .caption.sft.carousel-caption{"data-easing" => "easeInBack", "data-speed" => "1000", "data-start" => "1000", "data-x" => "43", "data-y" => "184", :style => "background: none; padding-left: 0;"}
                %p.middle Create beautiful pages quickly and easily...
              .caption.sfl.carousel-caption{"data-easing" => "easeOutBack", "data-speed" => "1000", "data-start" => "1000", "data-x" => "0", "data-y" => "228", :style => "background: none; padding-left: 0; width: 781px;"}
                %p.big Over 30 Shortcuts and Rapid-Design Page Templates!
              .caption.sfb.carousel-caption{"data-easing" => "easeInBack", "data-speed" => "1000", "data-start" => "1000", "data-x" => "0", "data-y" => "281", :style => "background: none; padding-left: 0; width: 100%;"}
                %p.small
                  Creating beautiful and highly functional web pages doesn’t have to take
                  hours. In fact, with over 30 pre-made page templates, bizstrap makes
                  = succeed "creating" do
                    %br/
                  great looking web pages quick and easy.
            /
              MAIN CONTENT AREA: SLIDER BANNER (REVOLUTION SLIDER) - SLIDE 4 [SLIDE
              STYLE=BOXFADE]
            %li.slide4.slide{"data-masterspeed" => "300", "data-slotamount" => "5", "data-transition" => "boxfade"}
              %img.img-responsive{:alt => "", :src => "img/slider07.png"}
              .caption.sft.carousel-caption{"data-easing" => "easeInBack", "data-speed" => "1000", "data-start" => "1000", "data-x" => "45", "data-y" => "78", :style => "background: none;"}
                %p.middle Slap the page with a Sticky Note!
              .caption.sfl.carousel-caption{"data-easing" => "easeOutBack", "data-speed" => "1000", "data-start" => "1000", "data-x" => "26", "data-y" => "107", :style => "background: none;"}
                %p.big Got a special message
              .caption.sfl.carousel-caption{"data-easing" => "easeOutBack", "data-speed" => "1000", "data-start" => "1000", "data-x" => "26", "data-y" => "160", :style => "background: none;"}
                %p.big you want to stand out on a
              .caption.sfl.carousel-caption{"data-easing" => "easeOutBack", "data-speed" => "1000", "data-start" => "1000", "data-x" => "26", "data-y" => "214", :style => "background: none;"}
                %p.big particular web page?
              .caption.sfb.carousel-caption{"data-easing" => "easeInBack", "data-speed" => "1000", "data-start" => "1000", "data-x" => "42", "data-y" => "265", :style => "background: none; width: 436px;"}
                %p.small
                  When you have a special message on a particular web page that you want
                  to get a across to your visitors then slap that page with one of bizstrap's
                  exclusive sticky notes. You'll find that website visitors simply can't
                  resist them.
              .caption.sfl.carousel-caption.stick1{"data-easing" => "easeInExpo", "data-speed" => "1400", "data-start" => "1000", "data-x" => "450", "data-y" => "52", :style => "background: none;"}
                %img.img-responsive{:alt => "", :src => "img/slide_stick01.png"}
              .caption.sfl.carousel-caption.stick2{"data-easing" => "easeInExpo", "data-speed" => "1400", "data-start" => "1500", "data-x" => "607", "data-y" => "52", :style => "background: none;"}
                %img.img-responsive{:alt => "", :src => "img/slide_stick02.png"}
              .caption.sfl.carousel-caption.stick3{"data-easing" => "easeInExpo", "data-speed" => "1400", "data-start" => "2000", "data-x" => "764", "data-y" => "52", :style => "background: none;"}
                %img.img-responsive{:alt => "", :src => "img/slide_stick03.png"}
              .caption.sfl.carousel-caption.stick4{"data-easing" => "easeInExpo", "data-speed" => "1400", "data-start" => "2500", "data-x" => "450", "data-y" => "208", :style => "background: none;"}
                %img.img-responsive{:alt => "", :src => "img/slide_stick04.png"}
              .caption.sfl.carousel-caption.stick5{"data-easing" => "easeInExpo", "data-speed" => "1400", "data-start" => "3000", "data-x" => "607", "data-y" => "208", :style => "background: none;"}
                %img.img-responsive{:alt => "", :src => "img/slide_stick05.png"}
              .caption.sfl.carousel-caption.stick6{"data-easing" => "easeInExpo", "data-speed" => "1400", "data-start" => "3500", "data-x" => "764", "data-y" => "208", :style => "background: none;"}
                %img.img-responsive{:alt => "", :src => "img/slide_stick06.png"}
            /
              MAIN CONTENT AREA: SLIDER BANNER (REVOLUTION SLIDER) - SLIDE 5 [SLIDE
              STYLE=SLOTFADE HORIZONTAL]
            %li.slide5.slide{"data-masterspeed" => "300", "data-slotamount" => "20", "data-transition" => "slotfade-horizontal"}
              %img.img-responsive{:alt => "", :src => "img/slider04.png"}
              .caption.sft.carousel-caption{"data-easing" => "easeInBack", "data-speed" => "1000", "data-start" => "1000", "data-x" => "468", "data-y" => "71", :style => "background: none; padding-left: 0;"}
                %p.middle Smart, very smart indeed!
              .caption.sfr.carousel-caption{"data-easing" => "easeOutBack", "data-speed" => "1000", "data-start" => "1000", "data-x" => "454", "data-y" => "105", :style => "background: none;"}
                %p.big The Smart Choice for
              .caption.sfr.carousel-caption{"data-easing" => "easeOutBack", "data-speed" => "1000", "data-start" => "1000", "data-x" => "454", "data-y" => "154", :style => "background: none;"}
                %p.big Building Your
              .caption.sfr.carousel-caption{"data-easing" => "easeOutBack", "data-speed" => "1000", "data-start" => "1000", "data-x" => "454", "data-y" => "205", :style => "background: none;"}
                %p.big Business Website
              .caption.sfb.carousel-caption{"data-easing" => "easeInBack", "data-speed" => "1000", "data-start" => "1000", "data-x" => "480", "data-y" => "268", :style => "background: none; padding-left: 0;"}
                %p.small
                  Affordable, effective and easy-to-use bizstrap is the smart choice for
                  building and managing your business website. Smart, very smart indeed!
          .tp-bannertimer
    .main-block
      .col-sm-12.col-md-12
        .row
          / MAIN CONTENT AREA: REDESIGN CUSTOM - HERO BLOCK 1 (TEXT BLOCK)]
          .col-sm-6.col-md-6.home-block.hero-block-1
            %h1 Say hello to bizstrap!
            %h2 Clean, modern &amp; ultra-responsive
            %p
              bizstrap is a clean, modern and ultra-responsive site template designed
              and built from the ground up using the latest and greatest web technologies
              and framework. And, with over 30 stunning and highly useful feature shortcuts
              and rapid-design page templates you can effortlessly turn your organization’s
              website into a stunning product and/or services showcase that you’ll not
              only be proud of, but your customers will greatly respect. Affordable,
              effective and easy-to-use bizstrap is the smart choice for building and
              managing your business website. Smart, very smart indeed!
          /
            MAIN CONTENT AREA: SPACER BETWEEN HERO BLOCK 1 AND HEREO BLOCK 2
          .col-sm-1.col-md-1
          / MAIN CONTENT AREA: bizstrap CUSTOM - HERO BLOCK 2
          .col-sm-5.col-md-5.home-block
            .grey-box.hero-block-2
              %h2
                %a{:href => "#"} Effective Action Boxes That Get Results
              %p
                %img.img-responsive{:alt => "", :src => "img/release_icon.png"}
                Great web pages utilize effective calls to action to grab the attention
                of the intended audience. bizstrap allows you to quickly and easily create
                highly effective action boxes.
              %a.btn.btn-warning{:href => "#"}
                %i.icon-shopping-cart>
                Buy it now just for $18
    %hr/
    .row.main-block.index1
      .col-sm-12.col-md-12
        / MAIN CONTENT AREA: bizstrap CUSTOM - HERO LIST
        .row.show-grid.hero-list
          .col-sm-3.col-md-3
            .image-wrapper
              .img
                %img.img-responsive{:alt => "", :src => "img/ruler.png"}
            .image-text
              %h2 Clean Design
              %p
                Modern, clean design to give your business a highly professional appearance.
                %a{:href => "#"} Learn more&raquo;
            .clear
          .col-sm-3.col-md-3
            .image-wrapper
              .img
                %img.img-responsive{:alt => "", :src => "img/equaliser.png"}
            .image-text
              %h2 Flexible Layout
              %p
                Flexible page layout templates to help you quickly organize your website's
                content.
                %a{:href => "#"} Learn more&raquo;
            .clear
          .col-sm-3.col-md-3
            .image-wrapper
              .img
                %img.img-responsive{:alt => "", :src => "img/direction.png"}
            .image-text
              %h2 Quick Shortcuts
              %p
                Dozens of unique shortcuts to add your own cool and custom flare.
                %a{:href => "#"} Learn more&raquo;
            .clear
          .col-sm-3.col-md-3
            .image-wrapper
              .img
                %img.img-responsive{:alt => "", :src => "img/both_arrows.png"}
            .image-text
              %h2 Responsive
              %p
                Ultra-responsive design so your pages work beautifully on practically
                any device.
                %a{:href => "#"} Learn more&raquo;
            .clear
      .col-sm-12.col-md-12
        .horizontal-divider
    /
      MAIN CONTENT AREA: bizstrap CUSTOM - PORTFOLIO GRID BLOCK (ORIGINALLY
      DESIGNED FOR HOME PAGE)
    .portfolio-grid-1.main-block
      .title-wrapper
        %h2 Check out our awesome latest work
        %a.all{:href => "#"} Show all works&raquo;
      .clear-both
      #home_responsive.row.show-grid
        .col-sm-3.col-md-3.small.hp-wrapper
          %a.top-link.fancy{:href => "img/gal_2.jpg"}
            %img.img-responsive{:alt => "", :src => "img/item_220-160_08.jpg"}
          .bottom-block
            %a{:href => "#"} Integer posuere
            %p UI Design
        .col-sm-6.col-md-6.middle.hp-wrapper
          %a.top-link.fancy{:href => "img/img05.jpg"}
            %img.img-responsive{:alt => "", :src => "img/item_460-160_01.jpg", :style => "width: 460px; height: 160px;"}
          .bottom-block
            %a{:href => "#"} Pellen tesque ornare
            %p Graphic Design
        .col-sm-6.col-md-6.middle.hp-wrapper
          %a.top-link.fancy{:href => "img/img07.jpg"}
            %img.img-responsive{:alt => "", :src => "img/item_460-160_03.jpg", :style => "width: 460px; height: 160px;"}
          .bottom-block
            %a{:href => "#"} Pellen tesque ornare
            %p Graphic Design
        .col-sm-3.col-md-3.tall.hp-wrapper
          %a.top-link.fancy{:href => "img/img08.jpg"}
            %img.img-responsive{:alt => "", :src => "img/item_460-340_03.jpg", :style => "width: 220px; height: 340px;"}
          .bottom-block
            %a{:href => "#"} Pellen tesque ornare
            %p Graphic Design
        .col-sm-3.col-md-3.small.hp-wrapper
          %a.top-link.fancy{:href => "img/gal_7.jpg"}
            %img.img-responsive{:alt => "", :src => "img/item_220-160_01.jpg", :style => "width: 220px; height: 160px;"}
          .bottom-block
            %a{:href => "#"} Integer posuere
            %p UI Design
    %hr/
    /
      MAIN CONTENT AREA: bizstrap CUSTOM - HORIZONTAL TESTIMONIAL BLOCK
    .main-block.testimonials
      .title-wrapper
        %h2 Testimonials
        %a.all{:href => "#"} Show all Client Testimonials&raquo;
      .clear-both
      .row.show-grid
        .col-sm-12.col-sm-12.col-md-12
          .testimonials-block
            .quote
            %p.first-row
              Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
              ut fermentum massa justo sit amet risus.
            %p Cras mattis consectetur purus sit amet fermentum.
            %p
            %p.autor Mr.Sam , Manager
      / MAIN CONTENT AREA: bizstrap CUSTOM - HERO BLOCK 3
      .col-sm-12.col-md-12.grey-box
        .hero-block3
          .row.show-grid
            .col-sm-9.col-md-9
              .hero-content-3
                %h2 Get your copy of bizstrap today!
                %p
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero
                  magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque
                  viverra vehicula sem ut volutpat. Integer sed arcu massa.
            .col-sm-3.col-md-3
              .tour-btn.btn-default
                %a.btn.btn-warning{:href => "#"} Buy Now
    %hr/
    /
      MAIN CONTENT AREA: bizstrap CUSTOM - RECENT POSTS BLOACK (ORIGINALLY
      DESIGNED FOR HOME PAGE)
    .main-block.block-posts
      .title-wrapper
        %h2 Recent Posts
        %a.all{:href => "#"} Visit the full blog&raquo;
      .row.show-grid.clear-both
        .col-sm-12.col-md-12
          .row.show-grid
            .col-sm-3.col-md-3
              %a.block-post-img{:href => "#"}
                %img.img-rounded.img-responsive{:alt => "", :src => "img/block_post_img1.jpg"}
              %a.block-post-title{:href => "#"} Time Management for Designers
              %p.block-post-date July 25, 2012
              %p.block-post-content
                Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim
                a feugiat. Pellentesque viverra vehicula sem ut volutpat.
              %a.block-post-more{:href => "#"} Read more&raquo;
            .col-sm-3.col-md-3
              %a.block-post-img{:href => "#"}
                %img.img-rounded.img-responsive{:alt => "", :src => "img/block_post_img2.jpg"}
              %a.block-post-title{:href => "#"} Designing for Mobile Devices
              %p.block-post-date July 15, 2012
              %p.block-post-content
                Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim
                a feugiat. Pellentesque viverra vehicula sem ut volutpat.
              %a.block-post-more{:href => "#"} Read more&raquo;
            .col-sm-3.col-md-3
              %a.block-post-img{:href => "#"}
                %img.img-rounded.img-responsive{:alt => "", :src => "img/block_post_img3.jpg"}
              %a.block-post-title{:href => "#"} What's New in Silicon Valley
              %p.block-post-date July 10, 2012
              %p.block-post-content
                Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim
                a feugiat. Pellentesque viverra vehicula sem ut volutpat.
              %a.block-post-more{:href => "#"} Read more&raquo;
            .col-sm-3.col-md-3.last
              %a.block-post-img{:href => "#"}
                %img.img-rounded.img-responsive{:alt => "", :src => "img/block_post_img4.jpg"}
              %a.block-post-title{:href => "#"} Effective SEO for Site Managers
              %p.block-post-date July 8, 2012
              %p.block-post-content
                Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim
                a feugiat. Pellentesque viverra vehicula sem ut volutpat.
              %a.block-post-more{:href => "#"} Read more&raquo;
    %hr/
    / MAIN CONTENT AREA: bizstrap CUSTOM - CLIENTS LOGO BAR
    .main-block.clients
      .title-wrapper
        %h2 Clients
      .row.show-grid
        .col-sm-12.col-md-12
          #clients.row.show-grid
            .col-sm-2.col-md-2.clear-both.hp-wrapper
              %img.img-responsive{:alt => "", :src => "img/client1.jpg"}
            .col-sm-2.col-md-2.hp-wrapper
              %img.img-responsive{:alt => "", :src => "img/client2.jpg"}
            .col-sm-2.col-md-2.hp-wrapper
              %img.img-responsive{:alt => "", :src => "img/client3.jpg"}
            .col-sm-2.col-md-2.hp-wrapper
              %img.img-responsive{:alt => "", :src => "img/client4.jpg"}
            .col-sm-2.col-md-2.hp-wrapper
              %img.img-responsive{:alt => "", :src => "img/client5.jpg"}
            .col-sm-2.col-md-2.hp-wrapper
              %img.img-responsive{:alt => "", :src => "img/client6.jpg"}
