.row
	.col-md-12.col-sm-12
		.row.show-grid.clear-both
			/ BEGIN ARTICLE CONTENT AREA
			.col-sm-8.col-sm-offset-2.center-column
				%article
					%h1 DRAIN PRODUCTS
					.text-divider1
					%p ResTech Plumbing & Drains uses only the highest quality of natural drain cleaner products. That's why we trust Drainbo® which offers quality products that are all natural, nontoxic and 100% safe to the environment. 
					= image_tag "drainbo.jpg", alt: "Drainbo Products", class: "img-fullwidth thumbnail"

					%blockquote
						%p The Drainbo® Team is a team of experts that have been solving your drain cleaning and plumbing issues since 1947. As our business grew, so did our customers needs. That's why we created Drainbo® Natural Drain Cleaner.
						%p And we are proud to say that our product not only works but Drainbo® is nontoxic, all natural, and completely safe for the environment. And Drainbo® Natural Drain Cleaner is easy to use, economical, and has a fresh lemon scent.
						%p
							Our natural drain cleaner and grease trap products work safely in your home and on our planet.
							%p.autor
								= link_to "//www.drainbo.com", title: "Drainbo Website", class: "", target: "_blank" do
									Drainbo.com
					%p  Just ask your Service Tech or call us and we'll be happy to deliver Drainbo® products right to your door at no additional cost.
