/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree ./base
 *= require flexslider.css
 *= require fancybox
 *= require_tree ./bizstrap
 *= require_tree ./style
 *= require_self
 */

.background-pattern {
  background-image: image-url('patterns/pattern_11.png');
  min-height: 100%;
}

/*.logo {
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;
}*/

body p {
	font-family: 'Open Sans', 'sans serif' !important;
	/*background: black;*/
}
/*p {
	font-size: 1.2em;
}*/



#nav-wrapper {
	/*padding-bottom: 10px;*/



	.navbar-toggle {
	  float: none;
	  margin: 0 auto;
	  background-color: #001957;
	  border: none;

	  .icon-bar {
	  	background-color: #FFF;
	  	width: 24px;
	  	height: 4px;
	  }
  
	  @media (max-width: 991px) {
	  	display: block;
	  }
	}
  /*position: static;
  float: none;
  width: auto;
  margin-top: 0;
  background-color: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;*/

	@media (max-width: 991px) {
		background: #001957;
		.navbar {
			background-color: #001957;
		}
		.nav-justified {
			background-color: #FFF;
			margin-bottom: 15px;
		}
	}

	@media (max-width: 767px) {
		/*padding-bottom: 10px;*/
		margin: 0 -20px 0;
	}
}
















