/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree ./base
 *= require flexslider.css
 *= require_tree ./bizstrap
 *= require_tree ./style
 *= require_self
 */

/* Background pattern from subtlepatterns.com */
.background-pattern {
  background-image: image-url('concrete_seamless.png');
  min-height: 100%;
}

.main-content {
	padding-top: 10px;
}

b {
	color: #555;
}

/*.logo {
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;
}*/

body p {
	font-family: 'Open Sans', 'sans serif' !important;
	/*background: black;*/
}
/*p {
	font-size: 1.2em;
}*/



#nav-wrapper {

// Nav Border

	li.single, li.dropdown {
		border-right: 1px dotted #898989;
		&:last-child {
			border-right: none;
		}

		@media (max-width: 767px) {
			border-right: none;
		}
	}



// Nav Button

	.navbar-toggle {
	  float: none;
	  margin: 0 auto;
	  background-color: #001957;
	  border: none;

	  .icon-bar {
	  	background-color: #FFF;
	  	width: 24px;
	  	height: 4px;
	  }
  
	  @media (max-width: 991px) {
	  	display: block;
	  }
	}



// Background Color and Orientation

	@media (max-width: 991px) {
		background: #001957;

		.navbar {
			background-color: #001957;
		}
		.nav-justified {
			background-color: #FFF;
			margin-bottom: 5px;
		}

	}

	a {
			font-size: 18px;
	}
	i {
		font-size: 14px;
		line-height: 18px;
		.fa-chevron-down {
			line-height: 14px;
		}
	}

	.dropdown-menu {
		border-radius: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
		font-weight: normal;

		a {
			font-size: 16px;
			line-height: 20px;
		}
	}

	@media (max-width: 767px) {
		margin: 0 -20px 0;

		a {
			font-size: 18px;
		}
		i {
			font-size: 14px;
			line-height: 18px;
		}

		.dropdown-menu {
			position: static;
			float: none;
			width: auto;
			margin: 0;
			border: 0;
			a {
				text-align: center;
				margin: 0;
				font-size: 16px;	
			}
		}

		.nav-justified {
			margin-bottom: 38px;
		}
	}
}




