%li.active.dropdown
  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#menu"}
    HOME
    %i bizstrap home
  %ul.dropdown-menu
    %li.active
      %a{:href => "#"} Homepage 1
    %li
      %a{:href => "#"} Homepage 2
    %li
      %a{:href => "#"} Homepage 3
    %li
      %a{:href => "#"} Homepage 4
    %li
      %a{:href => "#"} Homepage 5
%li.dropdown
  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#menu1"}
    FEATURES
    %i awesome features
  %ul.dropdown-menu
    %li
      %a{:href => "#"} Sticky Notes
    %li
      %a{:href => "#"} Columns
    %li
      %a{:href => "#"} Dividers
    %li
      %a{:href => "#"} Frames
    %li
      %a{:href => "#"} Google Maps
    %li
      %a{:href => "#"} Icons and Buttons
    %li
      %a{:href => "#"} Lists
    %li
      %a{:href => "#"} Message Boxes
    %li
      %a{:href => "#"} Navigation
    %li
      %a{:href => "#"} Price Tables
    %li
      %a{:href => "#"} Quotes
    %li
      %a{:href => "#"} Sliders and Videos
    %li
      %a{:href => "#"} Tables
    %li
      %a{:href => "#"} Tabs and Collapses
    %li
      %a{:href => "#"} Typography
    %li
      %a{:href => "#"} Thumbnails
%li.dropdown
  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#menu2"}
    PAGES
    %i rapid design templates
  %ul.dropdown-menu
    %li
      %a{:href => "#"} About Us (both sidebars)
    %li
      %a{:href => "#"} About Us (left sidebar)
    %li
      %a{:href => "#"} About Us (right sidebar)
    %li
      %a{:href => "#"} Gallery
    %li
      %a{:href => "#"} Our Team
    %li
      %a{:href => "#"} Our Team (Large blocks)
    %li
      %a{:href => "#"} Philosophy
    %li
      %a{:href => "#"} Coming Soon Page
    %li
      %a{:href => "#"} FAQs
%li.dropdown
  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#menu3"}
    PORTFOLIO
    %i showcase your work
  %ul.dropdown-menu
    %li
      %a{:href => "#"} Portfolio
    %li
      %a{:href => "#"} Portfolio Grid
    %li
      %a{:href => "#"} Portfolio Item
%li.dropdown
  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#menu4"}
    BLOG
    %i express yourself
  %ul.dropdown-menu
    %li
      %a{:href => "#"} Blog (both sidebars)
    %li
      %a{:href => "#"} Blog (left sidebar)
    %li
      %a{:href => "#"} Blog (right sidebar)
    %li
      %a{:href => "#"} Post (both sidebars)
    %li
      %a{:href => "#"} Post (left sidebar)
    %li
      %a{:href => "#"} Post (right sidebar)
%li.single
  %a{:href => "#"}
    CONTACT
    %i get in touch