/ MAIN CONTENT AREA: bizstrap CUSTOM - RECENT TWEETS BAR
.recent-tweets
  .container
    .row.show-grid
      .col-sm-12.col-md-12.twitter-wrapper
        #nav_t
        .tweets-slide
          %ul.slides
        %a.follow_img{:href => "#"}
          %img.img-responsive{:alt => "", :src => "img/follow.png"}